h1, h2 {
  font-family: Verdana;
}

.nav-icon {
  height: 30px;
  width: 30px;
}
.nav-icon-seasons {
  height: 75px;
  width: 75px;
  margin: 0px;
  border: 1px dashed red;
}

.spring-div {
  background-color: #d4ea86;
}

.summer-div {
  background-color: #eac286;
}

.autumn-div {
  background-color: #cc9a85;
}

.winter-div {
  background-color: #aadad6;
}

.article-logo {
  height: 15px;
  width: 15px;
}
#fbContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: .8em;
}

.seasonIconNB {
  text-align: center;
  border: 1px dashed blue;
  font-family: Verdana;
}

#showAllSeasonal {
  margin: 8px;
}

.seasonIconNB p {
  margin: .2em;
}

#hbm {
  text-align: left;
}

#navbar {
  position: sticky;
  top: 0;
  background: #eac686;
  text-align: right;
}

.seasonalTitle {
  font-size: 1.2em;
}

h1#nbh {
  margin: 0px;
  padding: 0px;
}

/*body {*/
/*  margin: 0px;*/
/*  padding: 0px;*/
/*}*/