#navbar {
  position: sticky;
  top: 0;
  background: #eac686;
  text-align: right;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

h1, h2 {
  font-family: Verdana;
}

.nav-icon {
  height: 30px;
  width: 30px;
}

.nav-icon-seasons {
  height: 80px;
  width: 80px;
  margin: 0px;
  /*border: 1px dashed red;*/
}

.spring-div {
  background-color: #d4ea86;
  border-radius: 5px;
}

body {
  font-family: Verdana;
}
.summer-div {
  background-color: #eac286;
  border-radius: 5px;
}

.autumn-div {
  background-color: #cc9a85;
  border-radius: 5px;
}

.winter-div {
  background-color: #aadad6;
  border-radius: 5px;
}

.activity-title {
  margin: 0px;
  font-size: 1.2em;
}

.activity-desc-container {
  display: flex;
  flex-direction: row;
}

.activity-description {
  margin: 0px;
  font-size: 1em;
  margin-bottom: 5px;
}

.article-logo {
  height: 100px;
  width: 100px;
}

#homepageFbContainer {
  display: flex;
  flex-direction: column;
  margin-top: .8em;
}

#homepageFbContainer h2 {
  margin-bottom: 0px;
}

#activities h3 {
  margin-bottom: .2em;
}

.welcomePara {
  font-size: .8em;
}

.hpPanelDesc {
  font-size: .8em;
  margin-top: .2em;
}

.signature {
  margin-top: 0px;
  margin-bottom: 0px;
}

.signature-last {
  margin-top: 0px;
}

.hpPanel {
  border: 1px dashed green;
  text-align: center;
  margin: 1px;
}

#fbContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: .8em;
}

.seasonIconNB {
  text-align: center;
  /*border: 1px dashed blue;*/
  font-family: Verdana;
}

#showAllSeasonal {
  margin: 8px;
}

.seasonIconNB p {
  margin: .2em;
}

#hbm {
  text-align: left;
}

.seasonalTitle {
  font-size: 1.2em;
}

h1#nbh {
  margin: 0px;
  padding: 0px;
}

/*body {*/
/*  margin: 0px;*/
/*  padding: 0px;*/
/*}*/