h1, h2 {
  font-family: Verdana;
}

.nav-icon {
  height: 30px;
  width: 30px;
}
.nav-icon-seasons {
  height: 75px;
  width: 75px;
  margin: 0px;
  border: 1px solid red;
}

#sss {

}

#fbContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: .8em;
}

.seasonIconNB {
  text-align: center;
  border: 1px solid blue;
}

.seasonIconNB p {
  margin: .2em;
}

#navbar {
  position: sticky;
  top: 0;
  background: #eac686;
}

.seasonalTitle {
  font-size: 1.2em;
}

h1#nbh {
  margin: 0px;
  padding: 0px;
}

/*body {*/
/*  margin: 0px;*/
/*  padding: 0px;*/
/*}*/